@tailwind base;
@tailwind components;
* {
  box-sizing: border-box;
}
a {
  @apply underline;
}

.btn {
  @apply border rounded px-4 py-2;
}

.btn-primary {
  @apply bg-green-500;
}

.input {
  @apply h-8 border rounded p-2;
}

.asset-card {
  @apply border rounded text-center p-4 h-32 flex flex-col justify-center;
}
.editor-style-button {
  color: #999;
  cursor: pointer;
  margin-right: 16px;
  padding: 2px 0;
  display: inline-block;
}

.editor-style-button-active {
  color: #5890ff;
}
/* 
.main-container {
  height: calc(100vh - 44px);
} */
.DraftEditor-root {
  /* max-height: 100%; */
  overflow-y: scroll;
}

/* #scene-editor {
  height: 80vh;
} */
@tailwind utilities;
